@model Tech_Inventory.Application.Features.PdfFeature.ObyektReport.ObyektReportResponse
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Obyekt!</title>
  </head>
  <style>
         .labels-of-info{
             font-size: 24px;
             font-weight: bold;
         }

         .w-50{
             width: 50%;
         }

         .w-100{
             width: 100%
         }

         .labels-of-value{
            font-size: 24px;
         }

         .fs-20{
             font-size: 20px;
         }

         .fw-bold{
             font-weight: bold;
         }

         .fs-24{
             font-size: 24px;
         }

         .my-10{
             margin: 10px 0;
         }

        .my-20 {
            margin: 20px 0;
        }

         .mx-10{
             margin: 0 10px;
         }

        .mx-20 {
            margin: 0 20px;
        }

        .mt-30{
            margin-top: 30px;
        }

    .mb-30 {
        margin-bottom: 30px;
    }
  </style>
  <body>
  <div class="container">
       
            <table class="table table-striped table-bordered mb-30 mt-30 bg-success">
                <tbody>
                        <tr>
                            <td class="labels-of-info">Id</td>
                            <td class="labels-of-value">@Model.Id</td>
                        </tr>
                        <tr>
                            <td class="labels-of-info">Loyiha nomi</td>
                            <td class="labels-of-value">@Model.ProjectName</td>
                        </tr>
                        <tr>
                            <td class="labels-of-info">Obyekt nomi</td>
                            <td class="labels-of-value">@Model.Name</td>
                        </tr
                         <tr>
                            <td class="labels-of-info">Oyekt Manzili</td>
                            <td class="labels-of-value">@Model.Region @Model.District @Model.Street @Model.Home</td>
                        </tr>
                        <tr>
                            <td class="labels-of-info">Obyekt Joylashuv nuqtasi</td>
                            <td class="labels-of-value">@Model.Longitude, @Model.Latitude</td>
                        </tr>
                         <tr>
                            <td class="labels-of-info">Obyekt Tasnifi</td>
                            <td class="labels-of-value">@Model.ObjectClass</td>
                        </tr>
                </tbody>
            </table>
      
        @if(Model.Cameras.Any()){
            <h3 class="my-10 mt-30">Kameralar</h3>
            <table class="table table-striped table-bordered">
            <thead>
                <tr class="fs-20 fw-bold">
                    <th scope="col">Id</th>
                    <th scope="col">Kamera nomi</th>
                    <th scope="col">Kamera modeli</th>
                    <th scope="col">Kamera seria raqami</th>
                    <th scope="col">Kamera Ip</th>
                    <th scope="col">Kamera Statusi</th>
                    <th scope="col">Ma'lumot</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model.Cameras)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.Ip</td>
                            <td>@item.Status</td>
                            <td>@item.Info</td>
                        </tr>
                    }
            </tbody>
        </table>
        }

        @if (Model.ElektrCabels.Any())
        {
            <h3 class="my-10 mt-30">Elektr kabellar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Kabel nomi</th>
                        <th scope="col">Kabel modeli</th>
                        <th scope="col">Kabel uzunligi</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ElektrCabels)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.Meter</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.UtpCabels.Any())
        {
            <h3 class="my-10 mt-30">Utp kabellar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                   <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Kabel nomi</th>
                        <th scope="col">Kabel modeli</th>
                        <th scope="col">Kabel uzunligi</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ElektrCabels)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.Meter</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.Projectors.Any())
        {
            <h3 class="my-10 mt-30">Projectorlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Projector nomi</th>
                        <th scope="col">Projector modeli</th>
                        <th scope="col">Projector soni</th>
                        <th scope="col">Malumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Projectors)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Count</td>
                            <td>@item.Model</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.SwitchPoes.Any())
        {
            <h3 class="my-10 mt-30">Switch Poelar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Switch nomi</th>
                        <th scope="col">Switch modeli</th>
                        <th scope="col">Switch portlar soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SwitchPoes)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.CountOfPorts</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.SwitchKomboes.Any())
        {
            <h3 class="my-10 mt-30">Switch kombolar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Switch nomi</th>
                        <th scope="col">Switch modeli</th>
                        <th scope="col">Switch portlar soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SwitchPoes)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.CountOfPorts</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.Avtomats.Any())
        {
            <h3 class="my-10 mt-30">Avtomatlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Avtomat nomi</th>
                        <th scope="col">Avtomat modeli</th>
                        <th scope="col">Avtomat soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Avtomats)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.Count</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.Akumalators.Any())
        {
            <h3 class="my-10 mt-30">Akumalatorlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Akumalator nomi</th>
                        <th scope="col">Akumalator quvvati</th>
                        <th scope="col">Akumalator soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Akumalators)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Power</td>
                            <td>@item.Count</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.Stabilizers.Any())
        {
            <h3 class="my-10 mt-30">Stabilizatorlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Stabilizator nomi</th>
                        <th scope="col">Stabilizator modeli</th>
                        <th scope="col">Stabilizator quvvati</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Stabilizers)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.Power</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

         @if (Model.MiniOpticRacks.Any())
        {
            <h3 class="my-10 mt-30">Mini optik bokslar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Boks nomi</th>
                        <th scope="col">Boks tolalar soni</th>
                        <th scope="col">Boks adabter turi</th>
                        <th scope="col">Boks portlar soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.MiniOpticRacks)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.NumberOfFibers</td>
                            <td>@item.TypeOfAdapter</td>
                            <td>@item.CountOfPorts</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.ODFOpticRacks.Any())
        {
            <h3 class="my-10 mt-30">Odf optik bokslar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                     <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Boks nomi</th>
                        <th scope="col">Boks tolalar soni</th>
                        <th scope="col">Boks adabter turi</th>
                        <th scope="col">Boks portlar soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ODFOpticRacks)
                    {
                         <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.NumberOfFibers</td>
                            <td>@item.TypeOfAdapter</td>
                            <td>@item.CountOfPorts</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.Sockets.Any())
        {
            <h3 class="my-10 mt-30">Rozetkalar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Rozetka nomi</th>
                        <th scope="col">Rozetka modeli</th>
                        <th scope="col">Rozetka soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Sockets)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.Count</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.TerminalServers.Any())
        {
            <h3 class="my-10 mt-30">Terminal Serverlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Terminal server nomi</th>
                        <th scope="col">Terminal server modeli</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.TerminalServers)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Model</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.CentralTelecomShelfs.Any())
        {
            <h3 class="my-10 mt-30">Markaziy telekomunikatsion javonlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Javon nomi</th>
                        <th scope="col">Javon seriasi</th>
                        <th scope="col">Javon raqami</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.CentralTelecomShelfs)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.Number</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.MainElectryShelfs.Any())
        {
            <h3 class="my-10 mt-30">Asosiy elektron javonlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                   <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Javon nomi</th>
                        <th scope="col">Javon seriasi</th>
                        <th scope="col">Javon raqami</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.MainElectryShelfs)
                    {
                       <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.Number</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.DistributionShelfs.Any())
        {
            <h3 class="my-10 mt-30">Taraqatish javonlari</h3>
            <table class="table table-striped table-bordered">
                <thead>
                     <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Javon nomi</th>
                        <th scope="col">Javon seriasi</th>
                        <th scope="col">Javon raqami</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.DistributionShelfs)
                    {
                      <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.Number</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.TelecomShelfs.Any())
        {
            <h3 class="my-10 mt-30">Telekomikatsion javonlari</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Javon nomi</th>
                        <th scope="col">Javon seriasi</th>
                        <th scope="col">Javon raqami</th>
                        <th scope="col">Ma'lumot</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.TelecomShelfs)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.Number</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.SvetaforDetektors.Any())
        {
            <h3 class="my-10 mt-30">Svetafor detektorlar</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Svetafor nomi</th>
                        <th scope="col">Svetafor portlar soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SvetaforDetektors)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.CountOfPorts</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        @if (Model.SvetaforDetektorsForCamera.Any())
        {
            <h3 class="my-10 mt-30">Svetafor detektorlar kamera uchun</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="fs-20 fw-bold">
                        <th scope="col">Id</th>
                        <th scope="col">Svetafor nomi</th>
                        <th scope="col">Svetafor portlar soni</th>
                        <th scope="col">Ma'lumot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SvetaforDetektorsForCamera)
                    {
                        <tr class="fs-20">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.CountOfPorts</td>
                            <td>@item.Info</td>
                        </tr>
                    }

                </tbody>
            </table>
        }
  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

